/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
  Author's custom styles
========================================================================== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
}

/** Globales **/
.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}

.section {
  width: 90%;
  margin: 0 autor;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/** Utilidades **/
.centrar-texto {
  text-align: center;
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.no-margin {
  margin: 0;
}

.barra {
  background-color: #000;
  padding: 1rem;
  width: 100%;
  height: 15%;
  opacity: 95%;
  position: fixed;
  z-index: 2;
}

@media (min-width: 760px) {
  .barra {
    height: 20%;
  }
}

@media (min-width: 1200px) {
  .barra {
    height: 22.5%;
  }
}

.barra .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.barra .titulo .logo {
  width: 7.5rem;
  position: relative;
  background-color: #111;
  margin: 0 auto;
}

@media (min-width: 760px) {
  .barra .titulo .logo {
    width: 10rem;
  }
}

@media (min-width: 1200px) {
  .barra .titulo .logo {
    width: 15rem;
  }
}

.barra .titulo .menu {
  position: absolute;
}

@media (min-width: 760px) {
  .barra .titulo .menu {
    display: none;
  }
}

.barra .titulo .menu .boton-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.barra .titulo .menu .boton-menu .raya-menu {
  width: 2.5rem;
  height: .5rem;
  background-color: purple;
  border-radius: .5rem;
  -webkit-box-shadow: 0 .2rem .5rem #444;
          box-shadow: 0 .2rem .5rem #444;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.barra .titulo .menu .boton-menu .raya-menu::before, .barra .titulo .menu .boton-menu .raya-menu::after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: .5rem;
  background-color: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 .2rem .5rem #444;
          box-shadow: 0 .2rem .5rem #444;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.barra .titulo .menu .boton-menu .raya-menu::before {
  -webkit-transform: translateY(-1.1rem);
          transform: translateY(-1.1rem);
}

.barra .titulo .menu .boton-menu .raya-menu::after {
  -webkit-transform: translateY(1.1rem);
          transform: translateY(1.1rem);
}

.barra .titulo .menu .boton-menu.open .raya-menu {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.barra .titulo .menu .boton-menu.open .raya-menu::before {
  -webkit-transform: rotate(45deg) translate(3.5rem, -3.5rem);
          transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.barra .titulo .menu .boton-menu.open .raya-menu::after {
  -webkit-transform: rotate(-45deg) translate(3.5rem, 3.5rem);
          transform: rotate(-45deg) translate(3.5rem, 3.5rem);
  background-color: purple;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: fixed;
  background: #000;
  height: 100vh;
  width: 100%;
  opacity: 95%;
  top: 15%;
}

@media (min-width: 760px) {
  .botones {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    top: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-top: 0.2rem solid purple;
    border-bottom: 0.2rem solid purple;
  }
}

@media (min-width: 1200px) {
  .botones {
    top: 22.4%;
    border-top: 0.3rem solid purple;
  }
}

.botones a {
  text-decoration: none;
  color: #ddd;
  padding-left: 2rem;
  font-size: 2rem;
  margin: 1rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  text-transform: uppercase;
  font-weight: 300;
}

@media (min-width: 760px) {
  .botones a {
    -webkit-transform-origin: center;
            transform-origin: center;
    padding-left: 0;
    padding: 0 2rem;
    margin: 0 1rem;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .botones a {
    font-size: 3rem;
  }
}

.botones a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: purple;
  color: #fff;
}

@media (min-width: 760px) {
  .botones a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: transparent;
    color: purple;
  }
}

.botones.side {
  -webkit-transform: translateX(-100%) translateY(20%);
          transform: translateX(-100%) translateY(20%);
}

@media (min-width: 760px) {
  .botones.side {
    -webkit-transform: translateX(0%) translateY(0%);
            transform: translateX(0%) translateY(0%);
  }
}

.botones .desplegado {
  height: 100vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
}

@media (min-width: 480px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 760px) {
  .main {
    padding-top: 16rem;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-top: 23rem;
  }
}

.main .texto-main {
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
  padding: 2rem;
}

@media (min-width: 1200px) {
  .main .texto-main {
    padding-top: 4rem;
  }
}

.main .texto-main p {
  color: #ddd;
}

@media (min-width: 760px) {
  .main .texto-main p {
    font-size: 3rem;
  }
}

.main .texto-main p span {
  color: purple;
  font-size: 3rem;
  font-weight: bold;
}

@media (min-width: 760px) {
  .main .texto-main p span {
    font-size: 5rem;
  }
}

.main .imagen-tiki-main {
  background-color: #fff;
  width: 100%;
}

@media (min-width: 760px) {
  .main .imagen-tiki-main {
    text-align: center;
  }
  .main .imagen-tiki-main img {
    border: 0.4rem solid purple;
  }
}

.footer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
  color: #ccc;
  bottom: 0;
}

@media (min-width: 480px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .breve-resena {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
}

@media (min-width: 480px) {
  .footer .breve-resena {
    width: 60%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .breve-resena p {
  font-size: 1.5rem;
  padding: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

@media (min-width: 480px) {
  .footer .breve-resena p {
    width: 80%;
    padding: 3rem;
  }
}

@media (min-width: 760px) {
  .footer .breve-resena p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.footer .breve-resena .barrita {
  margin: 0 auto;
  width: 80%;
  height: .5rem;
  background: purple;
}

@media (max-width: 480px) {
  .footer .breve-resena .barrita:first-of-type {
    margin-top: 2rem;
  }
}

@media (min-width: 480px) {
  .footer .breve-resena .barrita {
    width: .5rem;
    height: 10rem;
    margin: auto 0;
  }
}

@media (min-width: 760px) {
  .footer .breve-resena .barrita {
    height: 15rem;
  }
}

.footer .joiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 480px) {
  .footer .joiner {
    width: 40%;
  }
}

.footer .otro-tiki {
  width: 30%;
  height: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  font-size: 3rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 760px) {
  .footer .redes {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .footer .redes {
    font-size: 5rem;
  }
}

.footer .redes a {
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer .redes a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: purple;
}

.footer .redes .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=styles.css.map */